<div class="tabs">
  <div class="tabs__container">
    <ul class="tabs__list df jcc aic">
      <li
        *ngFor="let tab of tabs"
        class="tabs__item cup df jcc aic fdc"
        [ngClass]="{'tabs__item_active': tab.id === activeId}"
        (click)="setActiveTab(tab.id)"
      >
        <span class="tabs__text-container df jcc aic fdc">
          <span class="tabs__text">{{ tab.value }}</span>
          <span class="tabs__decor" [ngClass]="{'tabs__decor_active': tab.id === activeId}"></span>
        </span>
      </li>
    </ul>
  </div>
</div>
