<div class="account-info__title-container df aic jcsb pr16 pl16">
  <h2 class="account-info__title">Account info</h2>
  <div class="account-info__title-action">
    <atom-icon [icon]="eIcons.cross" (click)="hideSidebar()"/>
  </div>
</div>
<div class="account-info__info p16">
  <div class="account-info__actions df aic jcsb">
    <div class="account-info__actions-avatar df aic jcc">
      <atom-icon [icon]="eIcons.avatar"/>
    </div>
    <div class="account-info__actions-add df aic jcc">
      <atom-icon [icon]="eIcons.add" height="18px" width="18px"/>
    </div>
  </div>
  <div class="account-info__names pt8">
    <div class="sidbar__name"><b>Jacob Adlerman</b></div>
    <div class="account-info__nickname">@jacob_adlerman</div>
  </div>
  <div class="account-info__people df aic pt16">
    <span class="account-info__following pr16">0 following</span>
    <span class="account-info__followers">0 followers</span>
  </div>
</div>
