<div class="shadow" [ngStyle]="style">
  <div class="sidebar">
    <div class="sidebar__title-container df aic jcsb pr16 pl16">
      <h2 class="sidebar__title">Account info</h2>
      <div class="sidebar__title-action">
        <atom-icon [icon]="eIcons.cross"/>
      </div>
    </div>
    <div class="sidebar__info p16">
      <div class="sidebar__actions df aic jcsb">
        <div class="sidebar__actions-avatar df aic jcc">
          <atom-icon [icon]="eIcons.avatar"/>
        </div>
        <div class="sidebar__actions-add df aic jcc">
          <atom-icon [icon]="eIcons.add" height="18px" width="18px"/>
        </div>
      </div>
      <div class="sidebar__names pt8">
        <div class="sidbar__name"><b>Jacob Adlerman</b></div>
        <div class="sidebar__nickname">@jacob_adlerman</div>
      </div>
      <div class="sidebar__people df aic pt16">
        <span class="sidebar__following pr16">0 following</span>
        <span class="sidebar__followers">0 followers</span>
      </div>
    </div>
    <nav class="sidebar__nav">
      <ul class="sidebar__nav-list">
        <li class="sidebar__nav-item df aic pr16 pl16 h50">
          <div class="pr16"><atom-icon [icon]="eIcons.avatar" /></div>
          <span class="sidebar__nav-item-text">Profile</span>
        </li>
        <li class="sidebar__nav-item df aic pr16 pl16 h50">
          <div class="pr16"><atom-icon [icon]="eIcons.topics" /></div>
          <span class="sidebar__nav-item-text">Topics</span>
        </li>
        <li class="sidebar__nav-item df aic pr16 pl16 h50">
          <div class="pr16"><atom-icon [icon]="eIcons.bookmarks" /></div>
          <span class="sidebar__nav-item-text">Bookmarks</span>
        </li>
        <li class="sidebar__nav-item df aic pr16 pl16 h50">
          <div class="pr16"><atom-icon [icon]="eIcons.lists" /></div>
          <span class="sidebar__nav-item-text">Lists</span>
        </li>
        <li class="sidebar__nav-item df aic pr16 pl16 h50">
          <div class="pr16"><atom-icon [icon]="eIcons.twitterCircle" /></div>
          <span class="sidebar__nav-item-text">Twitter Circle</span>
        </li>
        <li class="sidebar__nav-item sidebar__nav-item_delimeter df aic mr16 ml16"></li>
      </ul>
    </nav>
    <div *ngIf="accordionItems?.length" class="sidebar__other">
      <molecula-accordion
        [openStrategy]="eAccordionOpenStrategy.one"
      >
        <molecula-accordion-item
          *ngFor="let item of accordionItems"
          [id]="item.id"
          [title]="item.title"
          [icon]="eIcons.arrowDown"
        >
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem voluptatum ratione quia praesentium voluptate consequuntur autem assumenda eligendi illo eius, in rerum, tempora iste perferendis ab cum eveniet eum accusamus.
          </p>
        </molecula-accordion-item>
      </molecula-accordion>
    </div>
  </div>
</div>
