.cup {
  cursor: pointer;
}

.df {
  display: flex;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.fdc {
  flex-direction: column;
}
