.cup {
  cursor: pointer;
}

.df {
  display: flex;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.jcsa {
  justify-content: space-around;
}

.jcfs {
  justify-content: flex-start;
}

.jcfe {
  justify-content: flex-end;
}

.aic {
  align-items: center;
}

.fdc {
  flex-direction: column;
}

.w100 {
  width: 100%;
}

.m0a {
  margin: 0 auto;
}

.mla {
  margin-left: auto;
}

.mra {
  margin-right: auto;
}

.mr16 {
  margin-right: 16px;
}

.ml16 {
  margin-left: 16px;
}

.h50 {
  height: 50px;
}

.p16 {
  padding: 16px;
}

.pt8 {
  padding-top: 8px;
}

.pt16 {
  padding-top: 16px;
}

.pr16 {
  padding-right: 16px;
}

.pl16 {
  padding-left: 16px;
}
