:root {
  --color-white: #FFF;
  --color-main: #1C9BEF;
  --color-hover: rgba(0,0,0, .12);
  --color-active: rgba(0,0,0, .26);
  --color-border: #EFF3F4;
  --color-text: #526371;
  --color-text-black: #000;
}
