<li
  *ngFor="let item of items"
  (click)="setActiveElementId(item.id)"
  [routerLink]="[item.path]"
  class="navbar__item df jcc aic"
>
  <a class="navbar__link df jcc aic">
    <div class="navbar__container">
      <atom-icon [icon]="eIcon[activeElementId === item.id ? item.iconActive : item.icon]" />
      <ng-container [ngSwitch]="item.templateName">
        <ng-container *ngSwitchCase="eIcon.notification" [ngTemplateOutlet]="notificationTemplateRef"></ng-container>
        <ng-container *ngSwitchCase="eIcon.home" [ngTemplateOutlet]="homeTemplateRef"></ng-container>
      </ng-container>
    </div>
  </a>
</li>
