<nav class="top-menu">
  <div class="top-menu__container global__container">
    <ul class="top-menu__list df jcsb aic">
      <li class="df jcc aic">
        <a class="top-menu__link">
          <app-icon [icon]="eIcons.avatar" />
        </a>
      </li>
      <li class="df jcc aic">
        <a class="top-menu__link">
          <app-icon fill="#1C9BEF"/>
        </a>
      </li>
      <li class="df jcc aic">
        <a class="top-menu__link">
          <app-icon [icon]="eIcons.avatar" />
        </a>
      </li>
    </ul>
  </div>
</nav>
