<nav class="navbar-low">
  <ul class="navbar-low__list df jcsa aic">
    <li class="navbar-low__item df jcc aic">
      <a class="navbar-low__link df jcc aic">
        <div class="navbar-low__container">
          <app-icon [icon]="eIcon.home"/>
          <span class="navbar-low__news df jcc aic"></span>
        </div>
      </a>
    </li>
    <li class="navbar-low__item df jcc aic">
      <a class="navbar-low__link df jcc aic">
        <div class="navbar-low__container">
          <app-icon [icon]="eIcon.search"/>
        </div>
      </a>
    </li>
    <li class="navbar-low__item df jcc aic">
      <a class="navbar-low__link df jcc aic">
        <div class="navbar-low__container">
          <app-icon [icon]="eIcon.notification"/>
          <span class="navbar-low__count df jcc aic">3</span>
        </div>
      </a>
    </li>
    <li class="navbar-low__item df jcc aic">
      <a class="navbar-low__link df jcc aic">
        <div class="navbar-low__container">
          <app-icon [icon]="eIcon.message"/>
        </div>
      </a>
    </li>
  </ul>
</nav>
