:host { display: contents; }

.navbar {
  position: sticky;
  top: 0;
  background-color: var(--color-bg);

  &__container {
    padding-top: 8px;
  }

  &__container, &__list {
    height: 100%;
  }
}
