:host { display: contents; }

.icon {

  &__container {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    padding: 4px;
    background-color: var(--color-white);
  }
  &__container:hover {
    background-color: var(--color-hover);
  }
  &__container:active {
    background-color: var(--color-active);
  }
}
