<nav class="menu">
  <ul class="menu__list df jcsb aic">
    <app-menu-item-left />
    <app-menu-item-center [currentPath]="currentPath" />
    <app-menu-item-right [currentPath]="currentPath" [settingsTemplateRef]="settings" />
  </ul>
  <!-- tabs -->
  <ng-container [ngSwitch]="currentPath">
    <ng-container *ngSwitchCase="ePages.home">
      <app-tabs [tabs]="tab.home" />
    </ng-container>
    <ng-container *ngSwitchCase="ePages.notifications">
      <app-tabs [tabs]="tab.notifications" />
    </ng-container>
    <ng-container *ngSwitchDefault></ng-container>
  </ng-container>
</nav>

<ng-template #settings><a><app-icon [icon]="eIcons.settings" /></a></ng-template>
