<nav class="menu">
  <ul class="menu__list df jcsb aic">
    <!-- left -->
    <li
      class="df jcc aic menu__item_fixed"
      (click)="toggle()"
    >
      <a class="menu__link">
        <app-icon [icon]="eIcons.avatar" />
      </a>
    </li>
    <!-- center -->
    <li>
      <a class="menu__link">
        <ng-container [ngSwitch]="currentPath">
          <ng-container *ngSwitchCase="ePages.search">
            SEARCH AUTOCOMPLETE
          </ng-container>
          <ng-container *ngSwitchCase="ePages.notifications">
            <h2>Notifications</h2>
          </ng-container>
          <ng-container *ngSwitchCase="ePages.messages">
            <h2>Messages</h2>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <app-icon />
          </ng-container>
        </ng-container>
      </a>
    </li>
    <!-- right -->
    <li class="df jcc aic menu__item_fixed">
      <ng-container [ngSwitch]="currentPath">
        <ng-container *ngSwitchCase="ePages.search" [ngTemplateOutlet]="settings"></ng-container>
        <ng-container *ngSwitchCase="ePages.notifications" [ngTemplateOutlet]="settings"></ng-container>
        <ng-container *ngSwitchCase="ePages.messages" [ngTemplateOutlet]="settings"></ng-container>
        <ng-container *ngSwitchDefault></ng-container>
      </ng-container>
    </li>
  </ul>
  <!-- tabs -->
  <ng-container [ngSwitch]="currentPath">
    <ng-container *ngSwitchCase="ePages.home">
      <app-tabs [tabs]="tab.home" />
    </ng-container>
    <ng-container *ngSwitchCase="ePages.notifications">
      <app-tabs [tabs]="tab.notifications" />
    </ng-container>
    <ng-container *ngSwitchDefault></ng-container>
  </ng-container>
</nav>

<ng-template #settings>
  <a class="menu__link">
    <app-icon [icon]="eIcons.settings" />
  </a>
</ng-template>
