:host { display: contents; }

.navbar {
  position: sticky;
  top: 0;
  background-color: var(--color-bg);

  &__list {
    height: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &__link_fixed {
    width: 22px;
  }
}
