<nav class="navbar" *ngIf="{
  activeElementId: activeElementId$ | async
} as state">
  <ul class="navbar__list df jcsa aic">
    <li
      *ngFor="let item of items"
      (click)="activeElementId$.next(item.id)"
      [routerLink]="[item.path]"
      class="navbar__item df jcc aic"
    >
      <a class="navbar__link df jcc aic">
        <div class="navbar__container">
          <atom-icon [icon]="eIcon[activeElementId$.value === item.id ? item.iconActive : item.icon]"/>
          <ng-container [ngSwitch]="item.templateName">
            <ng-container *ngSwitchCase="eIcon.notification" [ngTemplateOutlet]="notification"></ng-container>
            <ng-container *ngSwitchCase="eIcon.home" [ngTemplateOutlet]="home"></ng-container>
          </ng-container>
        </div>
      </a>
    </li>
  </ul>
</nav>

<ng-template #notification><span class="navbar__count df jcc aic">3</span></ng-template>
<ng-template #home><span class="navbar__news df jcc aic"></span></ng-template>
