<nav class="navbar" *ngIf="{
  activeElementId: activeElementId$ | async
} as state">
  <ul class="navbar__list df jcsa aic">
    <molecula-navbar-item
      [activeElementId]="activeElementId$.value"
      [items]="items"
      [notificationTemplateRef]="notification"
      [homeTemplateRef]="home"
      (onActiveElementId)="onActiveElementId($event)"
    />
  </ul>
</nav>

<ng-template #notification><span class="navbar__count df jcc aic">3</span></ng-template>
<ng-template #home><span class="navbar__news df jcc aic"></span></ng-template>
