:host { display: contents; }

.shadow {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.4);
}

.sidebar {
  min-width: 280px;
  max-width: 70%;
  height: 100vh;
  border-right: 1px solid var(--color-border-thin);
  box-shadow: 10px 0px 10px rgba(0,0,0,.1);
  background-color: var(--color-bg);
  overflow-y: scroll;
}
